html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory;
    padding: 0.5em;
    gap: 5px;
    background-color: black;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
header {
    background-color:blue;
    padding: 1em;
    color: aliceblue;
    
}
.hero { 
    background-color: red;
    padding: 1em;
    color: aliceblue;
}
.content {
    background-color: green;
    padding: 1em;
    color: aliceblue;
    margin: 0 auto;
        
}
.sidebar {
    background-color:blueviolet;
    padding: 1em;
    color: aliceblue;
    margin: 0 auto;
    
}
footer {
    background-color:grey;
    padding: 1em;
    color: aliceblue;
}
@media (max-width: 550px){

}
@media  (min-width:768px) {
    .flex-container {
        display: flex;
        max-width: 850px;
        margin:0 auto;        
    }
}
@media (min-width: 1440px){
    
}